In [4]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
cwd = Path(os.getcwd())
data_path = cwd.parents[0] / 'data/tweets'
tweet_paths = [data_path / f for f in os.listdir(data_path) if f.endswith('json')]
df = pd.DataFrame()
for t in tweet_paths:
    df = df.append(pd.read_json(t))
df['user_screen_name'] = df.user.apply(lambda x: x['screen_name'])    
df.groupby(['user_screen_name']).agg({'created_at': [np.min,np.max,len]})

                                created_at
                                      amin                      amax   len
user_screen_name
BarrySilbert     2017-07-27 03:02:34+00:00 2021-05-03 17:45:46+00:00  3231
ErikVoorhees     2020-09-20 18:20:32+00:00 2021-05-03 17:05:01+00:00  3249
FEhrsam          2011-06-12 19:35:24+00:00 2021-04-30 16:07:28+00:00  1422
SatoshiLite      2018-07-11 20:46:35+00:00 2021-05-03 15:42:05+00:00  3179
TimDraper        2009-02-15 01:09:39+00:00 2021-04-30 23:11:17+00:00  2277
VitalikButerin   2020-06-12 21:16:46+00:00 2021-04-24 18:29:09+00:00  3198
aantonop         2020-09-01 22:27:19+00:00 2021-05-02 23:35:51+00:00  3240
bhorowitz        2008-09-11 15:35:45+00:00 2021-05-02 15:34:19+00:00   909
brian_armstrong  2020-11-01 01:52:15+00:00 2021-05-02 01:46:45+00:00   267
elonmusk         2020-05-11 22:16:40+00:00 2021-05-03 17:27:11+00:00  3249
rogerkver        2013-04-01 06:24:53+00:00 2021-04-26 16:04:55+00:00  3203