In [43]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
cwd = Path(os.getcwd())
data_path = cwd.parents[0] / 'data'
tweet_paths = [data_path / f for f in os.listdir(data_path) if f.endswith('json')]
df = pd.DataFrame()
for t in tweet_paths:
    df = df.append(pd.read_json(t))
df['user_screen_name'] = df.user.apply(lambda x: x['screen_name'])    
df.groupby(['user_screen_name']).agg({'created_at': [np.min,np.max,len]})

                                created_at
                                      amin                      amax   len
user_screen_name
BarrySilbert     2017-07-27 03:02:34+00:00 2021-05-02 15:31:42+00:00  3224
ErikVoorhees     2020-09-19 04:23:28+00:00 2021-05-02 16:02:25+00:00  3248
FEhrsam          2011-06-12 19:35:24+00:00 2021-04-30 16:07:28+00:00  1422
SatoshiLite      2018-07-11 20:46:35+00:00 2021-05-01 06:35:22+00:00  3178
TimDraper        2009-02-15 01:09:39+00:00 2021-04-30 23:11:17+00:00  2276
VitalikButerin   2020-06-12 21:16:46+00:00 2021-04-24 18:29:09+00:00  3198
aantonop         2020-09-01 20:27:05+00:00 2021-05-02 18:54:08+00:00  3239
bhorowitz        2008-09-11 15:35:45+00:00 2021-05-02 15:34:19+00:00   910
brian_armstrong  2020-11-01 01:52:15+00:00 2021-05-02 01:46:45+00:00   267
elonmusk         2020-05-11 20:36:52+00:00 2021-05-02 21:09:21+00:00  3249
rogerkver        2013-04-01 06:24:53+00:00 2021-04-26 16:04:55+00:00  3203